<p>

We created a community management platform to connect people to neighborhood activities and events that take place nearby.
This website is a tool for communities of all sizes to organize and manage all kinds of activities.<br>
It’s a platform that people love to use, makes the people more engaged, collaborative, cooperative and positive about it. <br>
The platform was founded on the belief that transparency and collaboration and cooperation to create a culture of empathy, better interpersonal engagements and positive environment 
and we’re only scratching the surface of what we can accomplish together.

</p>
